<?xml version="1.0" encoding="utf-8" ?>
<!--模拟clickonce的config,<add>上面的注释将被做为描述读出-->
<configuration>
  <appSettings>
    <!--这段不应该被读到-->

    <!--DescOfTest1-->
    <add key="KeyOfTest1" value="ValueOfTest1" />

    <add key="KeyOfTest2" value="ValueOfTest2" />
    <!--无法读到{测试2}的描述-->


    <!--这段也不应该被读到-->

  </appSettings>
</configuration>